html, body {
    height: 100%;
    line-height: 20px;	
}

img {
    height: 250px;
     object-fit: contain;
   }

.main-header{
    background-color: #800000;
}

.header-logo{
    height: 15%;
    width: 15%;
    margin-right: 10px;
    float: left;
    border-radius: 100%;
    border: solid crimson 2px;
}

/*Footer*/
.footer {
   background-color: #800000;

 }

/*Navbar */
.navbar {
	position: sticky;
	border: 1px solid rgb(214,214,214);
	top: 0px;
	background:white;

}

.navbar-brand img{

    width: 50px;
    height: 50px;
    margin-top: -15px;

}

.navbar-button{
    padding: 10px;
}

.reserve-font-color{
    color:black;
}

.input-field input, select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }





/* Restaurant Container*/
.restaurant-container {
    width: 900px;
	background-color:  #b71c1c;
    margin: 10px auto;
    border: 1px solid rgb(214, 214, 214);

}

.logo{
    height: 20%;
    width: 20%;
    margin-right: auto;
    float: left;
    border-radius: 100%;
    border: solid crimson 2px;

}

.detail-container {
	padding: 20px;
	background-color: rgb(116, 32, 32);

}

.details{
    margin-left: 200px;
    color: white;

}


.menu-container {
    width: 900px;
    height: 400px;
	background-color:  #b71c1c;
    margin: 10px auto;
    border: 1px solid rgb(214, 214, 214);

}

.carousel-container{
    height: 350px;
    width: 100%;
    margin-left: 2%;
    text-align: center;
    margin: auto;

}

.card-option-field img{
    height: 70%;
    width: 70%;

}

.card-option-field button{
    width: 30%;
    height: 30%;
}

menu-list{
    margin-top: 50px;
    text-align: center;

}

.table-menu table{
    width: 100%;
}

.table-menu th{
    padding: 10px;
    
}

.table-menu td{
    padding: 5px;
}

.table-menu tr {
    border-bottom: 1px solid rgb(134, 128, 128);
    text-align: left; 
    padding: 5px;
  }

  tr:hover {
    background-color: rgba(255, 80, 103, 0.877);
}









