<!DOCTYPE html>
<head>

    <title> Log-In</title>
    
    <!--  Style Links  -->
    <link rel = "stylesheet" href="css/mco.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/mco.css">
</head>
 
    <body>
        <div class="text">
                <h2>Welcome!! Book n Eat "Eaters!"</h2>
        </div>


<div class="text">
    <div class="log-container">
      <br>
      <img src="images/book-n-eat-logo.jpg" class="about-logo" alt="Performance" width="250" height="200">
        <h3> Log-In</h3>
    
        <div class="container">
            <form class="form-horizontal" action="/postlogin" method="post">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-6">          
                  <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-5">
                    <p>Forget password?</p>
                  <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                  </div>
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-5">
                  <button type="submit" class="btn btn-primary" >
                    Log-In
                  </button>
                </div>
                <div class="form-group"> 
                  <div class="col-sm-offset-2 col-sm-5">

                <h4> Don't have an account?</h4> <a href="/register"><h4>Sign Up now </h4></a>
                <h4><%= title%></h4>
                  </div>
                </div>
              </div>
            </form>
          </div>

      
</body>

