<!DOCTYPE html>
<head>

    <title><%= title%></title>
    
    <!--  Style Links  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" href="css/mco.css">
</head>
 
    <body>
        <div class="text">
                <h2>Are you ready to be a Book n Eat "Eaters!"</h2>
        </div>


<div class="text">
    <div class="sign-container">
        <h3> Sign-Up</h3>
        <h4> Register Now and Become an EATER</h4>
        <img src="images/book-n-eat-logo.jpg" class="about-logo" alt="Performance" width="100" height="50">
        <h4><%= error%></h4>
        <br>
    </br>
</div>
</div>
        <div class="form-container">
          <div class="form-body">
          <form action="/saveaccount" method="post"> 

        <div class="input-field">
            Name:  <input type="text" placeholder="Enter your name here" id = "name" name ="name" required></input>
          </div>
          </br>
          <div class="input-field">
            Username: <input type="text" placeholder="Enter your username here" id = "username" name = "username" required></input>
          </div>
          </br>
          <div class="input-field">
            Password: <input type="password" placeholder="Enter your password here" id = "password" name ="password" required></input>
          </div>
          </br>
          <div class="input-field">
            Birthdate: <input type="date" placeholder="Enter your bithdate here" id = "bdate" name = "bdate" required></input>
          </div>
          </br>
          <div class="input-field">
            Phone Number:  <input type="tel" placeholder="Enter your number here"  id = "phone" name = "phone" required></input>
          </div>
        </br>
        <div class="input-field">
          E-mail:  <input type="email" placeholder="Enter your E-mail here" id = "email" name = "email" required></input>
        </div>
        <div class="input-field">
          Upload Image:  <input type="file" placeholder="Upload Image" id = "image" name = "image" required></input>
        </div> 

      </br>


      <button data-toggle="modal" id ="signup-submit" type="button"  class="btn btn-outline-success">
          Submit
          </button>
        
    
          <div class="modal fade" id="signup-popup" role="dialog">
            <div class="modal-dialog">
            
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="title" style="text-align:center;">Processing your account!!</h5>
                  </div>
                  <div class="modal-body">
                    <img class="check" src="images/book-n-eat-logo.jpg">
                    <p> Become a Book n Eat "Eater"</p>
                    <p> Enjoy booking without the need of waiting longlines.</p>
                  </div>
                  <div class="modal-footer">
                    <button type = "submit" class="btn btn-default">Confirm</a>
                  </div>
                </div>             
            </div>
    </div>
</form>
<script type="text/javascript" src="js/index.js"></script>

       
</body>

