<!-- footer-->
<div class="footer">
    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Book n Eat</h4>

                    <ul class="list-unstyled mb-4">
                        <li>
                            <a href="/getabout" class="text-white">About</a>
                        </li>
                        <li>
                            <a href="/getrestaurants" class="text-white">Restaurants</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Assistance</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/getabout#contact" class="text-white">Contact us</a>
                        </li>

                        <li>
                            <a href="#!" class="text-white">Booking Information</a>
                        </li>
                        <li>
                            <a href="/getrefunds" class="text-white">Refunds and Exchanges</a>
                        </li>
                        <li>
                            <a href="/getpaymentmethods" class="text-white">Payment Methods</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Join Us</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/getjoinus" class="text-white">Restaurants</a>
                        </li>
                        <li>
                            <a href="/getjoin" class="text-white">Book n Eat "Eaters"</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Sign up to our newsletter</h4>
                    <form action="/postnewsletter" method="post">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" name="email" required>
                            <label class="text-white form-label" for="form5Example2">Email address</label>
                        </div>
                        <button type="submit" type="button" class="text- white btn-outline-white btn-block">Subscribe</button>
                    </form>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-white p-3 border-top border-white">
            © 2022 Copyright:
            <a class="text-white" href="https://bookneat.com/">BooknEat.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->

